<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update a User</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Delete a user</a>
    </div>
    <div class="form">
      <form action="/delete-user" method="post">
        <fieldset>
          <legend>Delete a User</legend>
          <div class="input-group">
            <label>Id: </label>
            <input
              type="text"
              name="userID"
              value="<%=userEdit.id%>"
              readonly
            />
          </div>
          <div class="input-group">
            <p>Are u sure delete this user with email:</p>
            <label>Email: </label>
            <input type="text" name="email" value="<%=userEdit.email%>" />
          </div>

          <button class="save-button">Confirm</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
